.navbar__brand{
    margin-left: 2vw;;
}


.navbar__brand__image{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 45px;
    height: 45px;
}
.navbar__search{
    width: 30%;
    height: 35px;
    margin: 0 auto;
    margin-top: 10px;

}