@import '../App.scss';

.sort-navigation{
    margin-top: 100px;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;;
    font-size: 130%;
    svg{
        position: relative;
        top: 2px;
        right: 5px;
    }
}
.sort-navigation__btn {
    border: 2px solid transparent;
    margin-left: 3vw;
    margin-right: 3vw;
    min-width: 150px;
     margin: 0 auto;
}
.sort-navigation__btn__active{
    border-bottom: 2px solid $primaryColor;
    pointer-events: none;
}
@media only screen and (min-width: 1024px) {
    .sort-navigation__btn {
        margin-left: 1vw;
        margin-right: 1vw;
        &:hover{
            color: rgb(128, 128, 128);
            border-bottom: 1px solid;
            cursor: pointer;
        }
    }
}
@media only screen and (max-width: 768px) {
    .sort-navigation__btn {
        max-width: 151px;
    }
 
}
