@import '../App.scss';

.footer{
    width: 100%;
    margin-top: 100px;
    height: 250px;
    background-color:$primaryColor ;
    &__container{
        display: inline-flex;   
    }
    &__links--left{
        display: flex;
        flex-direction: column;
        min-width: 50vw;
        align-items: center;
        justify-content: center;
    }
    &__links--right{
        min-width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__dependencies{
        display: flex;
        flex-direction: column;
    }
    &__sentance{
        display: flex;
        flex-direction: column;
        height: 100px;
        text-align: center;
        &__span{
            margin-top: auto;
        }
    }
}